@model ProjetConcoursAspCore.Models.Etudiant

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Etudiant</h4>
<hr />

    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prenom" class="control-label"></label>
                <input asp-for="Prenom" class="form-control" />
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cne" class="control-label"></label>
                <input asp-for="Cne" class="form-control" />
                <span asp-validation-for="Cne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cin" class="control-label"></label>
                <input asp-for="Cin" class="form-control" />
                <span asp-validation-for="Cin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Civilite" class="control-label"></label>
                <input asp-for="Civilite" class="form-control" />
                <span asp-validation-for="Civilite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumDossier" class="control-label"></label>
                <input asp-for="NumDossier" class="form-control" />
                <span asp-validation-for="NumDossier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Etat" class="control-label"></label>
                <input asp-for="Etat" class="form-control" />
                <span asp-validation-for="Etat" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DateNaiss" class="control-label"></label>
                <input asp-for="DateNaiss" class="form-control" />
                <span asp-validation-for="DateNaiss" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nationnalite" class="control-label"></label>
                <input asp-for="Nationnalite" class="form-control" />
                <span asp-validation-for="Nationnalite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tel" class="control-label"></label>
                <input asp-for="Tel" class="form-control" />
                <span asp-validation-for="Tel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Etablissement" class="control-label"></label>
                <input asp-for="Etablissement" class="form-control" />
                <span asp-validation-for="Etablissement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ID_Filiere" class="control-label"></label>
                <select asp-for="ID_Filiere" class ="form-controldrp" asp-items="ViewBag.ID_Filiere"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
