<!DOCTYPE html>
<html lang="en">
<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>DressingRoom</title>
    <!-- Icons-->
    <link rel="icon" type="image/ico" href="./img/favicon.ico" sizes="any" />
    <link href="~/css/coreui-icons.min.css" rel="stylesheet">
    <link href="~/css/flag-icon.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/simple-line-icons.css" rel="stylesheet">
    <!-- Main styles for this application-->
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/pace.min.css" rel="stylesheet">
</head>

<body class="app flex-row align-items-center">

    <div class="container">

        @RenderBody()

    </div>

    <!-- CoreUI and necessary plugins-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/pace.min.js"></script>
    <script src="~/js/perfect-scrollbar.js"></script>
    <script src="~/js/coreui.min.js"></script>
    <!-- Plugins and scripts required by this view-->
    <script src="~/js/Chart.min.js"></script>
    <script src="~/js/custom-tooltips.min.js"></script>
    <script src="~/js/main.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
 




