
@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- END nav -->
<div class="hero-wrap">
    <div class="home-slider owl-carousel">
        <div class="slider-item" style="background-image:url(../../Template_User/images/ensas.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-12 ftco-animate">
                        <div class="text w-100 text-center">
                            <h2>un établissement universitaire relevant de l'université Cadi Ayyad </h2>
                            <h1 class="mb-3">ENSA SAFI</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-item" style="background-image:url(../../Template_User/images/remise.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-12 ftco-animate">
                        <div class="text w-100 text-center">
                            <h2>Cérémonie de remise de dipolmes</h2>
                            <h1 class="mb-3">promotion 2018-2019</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-item" style="background-image:url(../../Template_User/images/shell.png);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-12 ftco-animate">
                        <div class="text w-100 text-center">
                            <h2>ENSA Safi participe à la compétition nationale organisé par Shell</h2>
                            <h1 class="mb-3">Compétition de l'ENSA Safi</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row">
            <div class="col-md-3 d-flex services align-self-stretch p-4 py-md-5 ftco-animate">
                <div class="media block-6 d-block text-center pt-md-4">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="fa fa-calendar"></span>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">Calendrier</h3>
                        <p>Le calendrier annuel des semaines des études à l'ensa safi ainsi que les jours des vacances pour l'année 2019-2020.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch p-4 py-md-5 ftco-animate">
                <div class="media block-6 d-block text-center pt-md-4">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="fa fa-calendar-check-o"></span>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">Emploi du temps</h3>
                        <p>Les emplois du temps actualisés du cycle préparatoire et ingénieur sont consultable sous cette rubrique du site.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch p-4 py-md-5 ftco-animate">
                <div class="media block-6 d-block text-center pt-md-4">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="icon-book"></span>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">Cours en ligne</h3>
                        <p>Déposés par les responsables des modules, vous pouvez trouvez aussi des séries de TD et des examens.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch p-4 py-md-5 ftco-animate">
                <div class="media block-6 d-block text-center pt-md-4">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-home"></span>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">Visite virtuelle</h3>
                        <p>On vous propose une visite virtuelle pour des locaux de notre école.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-md-12 col-lg-4 services-2 p-4 py-5 d-flex ftco-animate">
                <div class="py-3 d-flex">
                    <div class="icon">
                        <span class="flaticon-engineer"></span>
                    </div>
                    <div class="text">
                        <h3> Etudier à l'ENSA </h3>
                        <p class="mb-0"> > Départements <br /> > Cycle préparatoires <br /> > Cycle d'ingénieur <br /> > Formation continue</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4 services-2 p-4 py-5 d-flex ftco-animate">
                <div class="py-3 d-flex">
                    <div class="icon">
                        <span class="flaticon-engineer-1"></span>
                    </div>
                    <div class="text">
                        <h3>Recherche Scientifique</h3>
                        <p class="mb-0">Notre Ecole participe activement à la recherche scientifique grace à ses structures de recherche.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4 services-2 p-4 py-5 d-flex ftco-animate">
                <div class="py-3 d-flex">
                    <div class="icon">
                        <span class="flaticon-engineer-2"></span>
                    </div>
                    <div class="text">
                        <h3>Activités de rayonnement</h3>
                        <p class="mb-0">L'élève ingénieur de L'ENSA Safi est toujours en position d'acquérir des valeurs comme l'ouverture et l'excellence.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<br />


<section class="ftco-counter" id="section-counter">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 d-flex">
                    <div class="text d-flex align-items-center">
                        <strong class="number" data-number="4">0</strong>
                    </div>
                    <div class="text-2">
                        <span>Nombre de <br> filières</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 d-flex">
                    <div class="text d-flex align-items-center">
                        <strong class="number" data-number="2">0</strong>
                    </div>
                    <div class="text-2">
                        <span>Départements</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 d-flex">
                    <div class="text d-flex align-items-center">
                        <strong class="number" data-number="50">0</strong>
                    </div>
                    <div class="text-2">
                        <span>Professeurs</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 d-flex">
                    <div class="text d-flex align-items-center">
                        <strong class="number" data-number="1200">0</strong>
                    </div>
                    <div class="text-2">
                        <span>étudiants</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container-fluid px-md-0">
        <div class="row no-gutters">
            <div class="col-md-4 ftco-animate">
                <div class="work img d-flex align-items-end" style="background-image: url(../../Template_User/images/team-3.jpg);">
                    <a href="../../images/work-1.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                    <div class="desc w-100 px-4">
                        <div class="text w-100 mb-3">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate">
                <div class="work img d-flex align-items-end" style="background-image: url(../../Template_User/images/5.jpg);">
                    <a href="../../images/work-2.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                    <div class="desc w-100 px-4">
                        <div class="text w-100 mb-3">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate">
                <div class="work img d-flex align-items-end" style="background-image: url(../../Template_User/images/6.jpg);">
                    <a href="../../images/work-3.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                    <div class="desc w-100 px-4">
                        <div class="text w-100 mb-3">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate">
                <div class="work img d-flex align-items-end" style="background-image: url(../../Template_User/images/2.jpg);">
                    <a href="../../images/work-4.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                    <div class="desc w-100 px-4">
                        <div class="text w-100 mb-3">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate">
                <div class="work img d-flex align-items-end" style="background-image: url(../../Template_User/images/team-4.jpg);">
                    <a href="../../images/work-5.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                    <div class="desc w-100 px-4">
                        <div class="text w-100 mb-3">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate">
                <div class="work img d-flex align-items-end" style="background-image: url(../../Template_User/images/4.jpg);">
                    <a href="../../images/work-6.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                    <div class="desc w-100 px-4">
                        <div class="text w-100 mb-3">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<br />

